# VCI data
data/porto_clean.do.xml
data/porto.net.xml 
data/porto.rou.xml 
data/trips.trips.xml 

# VCI sensors data
data/AEDL2013_2015/
data/desktop.ini
data/README AEDL2013-2015.txt
data/sensors_location.csv
data/significado campos.txt

# Example 
example/*

# Python virtual environment
env/

# Pycache
genDo/__pycache__/*
