# VCI data
data/od_route_file.odtrips.rou.alt.xml
data/od_route_file.odtrips.rou.xml
data/porto.od
data/porto.taz.xml
data/porto.trips.xml
data/porto.rou.xml

# VCI sensors data
data/AEDL2013_2015/
data/desktop.ini
data/README AEDL2013-2015.txt
data/sensors_location.csv
data/significado campos.txt

# Example 
example/*

# Python virtual environment
env/

# Pycache
genDo/__pycache__/*
